{
  "dev": {
    "driver"      : "mysql",
    "host"        : "localhost",
    "database"    : "",
    "user"        : "",
    "password"    : ""
  },

  "prod": {
    "driver"      : "mysql",
    "host"        : "localhost",
    "database"    : "",
    "user"        : "",
    "password"    : ""
  }
}