extends layout

block topscripts
  != css("about")

block content
  div(class="mainsection")
    section
      header
        h1 Bio
      span
        p My name is Scott Vickers.
        p I am the ScrumMaster/Product Owner for the BEAR Data Solutions software group.
        p In my free time I enjoy learning and playing with new web technology.
        p I began this site as a project to understand technologies that were becoming relevant at work,
          |such as Node.js, Redis, Socket.io, Backbone, and more...
        p Since then it has evolved into a project that I have been thinking of doing for a long time, which is developing a video game.
          |To accomplish this I am using a javascript game framework called Crafty.js.
          |The project goal is to have a complete and enjoyable game built entirely in HTML, CSS, and javascript.
        p Welcome to Monumentous.
    section
      header
        h1 Credits
      span
        p Music by Kevin MacLeod 
          a(href="http://incompetech.com/", target="_blank") incompetech.com
        p Art from 
          a(href="http://opengameart.org/", target="_blank") opengameart.org