extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="public/main.css")

block content
  section(class="mainsection")
      header
        h1 Jasco Suppies Inc.
      p founded in 2005, Jasco Supplies is dedicated to bringing fun and engaging web content it's adoring fans.