extends layout

block topscripts
  != css("about")

block content
  div(class="mainsection")
    section
      header
        h1 Bio
      span
        p My name is Scott Vickers.
        p I am the Product Owner for the BEAR Data Solutions software group.
        p In my free time I enjoy learning and playing with new web technology.
        p This is my personal website where I am working on a real time multiplayer
          | browser based game.  We already have real time chat, and if you log in
          | you can "play" the game.
        p Welcome to Monumentous.
    section
      header
        h1 Credits
      span
        p Music by Kevin MacLeod 
          a(href="http://incompetech.com/", target="_blank") incompetech.com
        p Art from 
          a(href="http://opengameart.org/", target="_blank") opengameart.org