extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="css/main.css")

block content
  section(class="mainsection")
      header
        h1 Jasco Suppies Inc.
      p founded in 2009, Jasco Supplies is dedicated to bringing fun and engaging web content to it's adoring fans.