extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="css/main.css")

block content
  div(class="mainsection")
    section
      header
        h1 Jasco Suppies Inc.
      p founded in 2009, Jasco Supplies is dedicated to bringing fun and engaging web content to it's adoring fans.
    section
      header
        h1 Credits
      p
        | Music by Kevin MacLeod 
        a(href="http://incompetech.com/" target="_blank") incompetech.com
      p
        | Art from 
        a(href="http://opengameart.org/" target="_blank") opengameart.org