extends layout

block topscripts
  != css("about")

block content
  div(class="mainsection")
    section
      header
        h1 Bio
      span
        p My name is Scott Vickers.
        p I am a Software Developer.
        p In my free time I enjoy learning and playing with new web technology.
        p This is my experimental site.  Currently I am working on a real time multiplayer
          | browser based game.  It already has real time chat, and if you log in
          | you can "play" the game.
        p Welcome to my lab.
    section
      header
        h1 Credits
      span
        p Music by Kevin MacLeod 
          a(href="http://incompetech.com/", target="_blank") incompetech.com
        p Art from 
          a(href="http://opengameart.org/", target="_blank") opengameart.org
