extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="css/main.css")
  script(src="/socket.io/socket.io.js")

  script(type="text/html", id="HomeTemplate")
    <% if (connected === true) { %>
    div
      input(id="inVal", type="text")
      button Set
    <% } else { %>
    p Please wait while socket.io connects...
    <% } %>
    
    #data <%= Display %>

  script(data-main="js/default", src="js/require-jquery.js")

    
block content
  section(class="mainsection")
    header
      h1 Socket.io Demo (wasssssup)

    #ph
  
  input(id="hdnStartVal", type="hidden", value="#{StartVal}")