extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="/css/main.css")

block content
  section(class="mainsection")

  input(id="hdnMessages", type="hidden", value="#{messages}")

block botscripts
  script(src="/js/default.js")