extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="/css/game.css")

block content
  section(class="mainsection")
    #cr-stage

block botscripts
  script(src="/js/crafty.js")
  script(src="/js/game.js")
  