extends layout

block topscripts
  link(rel="stylesheet", type="text/css", href="/css/game.css")

block content
  section(class="mainsection")

//block botscripts
//  script(src="/js/game.js")