extends layout

block topscripts
  != css('game')

block content
  section(class="mainsection")
    #cr-stage

block botscripts
  //script(src='//cdnjs.cloudflare.com/ajax/libs/crafty/0.5.3/crafty-min.js')
  script(src='/js/Crafty.debug.js')
  != js('game')
  