!!!
html
  head
    title #{title}
    block topscripts
  body
    header
      h1 Monumentous, the portmanteau for awesome peoples!
    nav(class="primarynav")
      ul
        li
          a(href="default") Home
        li
          a(href="about") About
    block content
    
    footer Mon.umento.us&copy; is a product of Jasco Supplies Inc.&trade;
  block botscripts