!!!
html
  head
    title #{title}
    block topscripts
  body
    header(class="mainheader")
      h1 Monumentous, the portmanteau for awesome peoples!
    nav(class="primarynav")
      ul
        li
          a(href="/") Home
        li
          a(href="about") About
      .login
        - if (typeof username === 'string' && username.length > 0)
          span=username
        - else
          a(id="btnLogin", class="button")
            span Login
          
    block content
    
    footer(class="mainfooter") Mon.umento.us&copy; is a product of Jasco Supplies Inc.&trade;
  block botscripts