!!!
html
  head
    title #{title}
    block topscripts
  body
    header(class="mainheader")
      h1 Monumentous, the portmanteau for awesome peoples!
    nav(class="primarynav")
      ul
        li
          a(href="/") Home
        li
          a(href="about") About
      .login(id="login")
          
    block content
    
    footer(class="mainfooter") Mon.umento.us&copy; is a product of Jasco Supplies Inc.&trade;

  input(id="username", type="hidden")

  script(src="/js/jquery.js")
  script(src="/js/json2.js")
  script(src="/js/underscore.js")
  script(src="/js/backbone.js")
  script(src="/js/moment.js")
  script(src="/js/require.js")
  script(src="/js/layout.js")

  block botscripts