body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
@font-face {
  font-family: 'DroidSansMonoRegular';
  src: url("/fonts/DroidSansMono-webfont.eot");
  src: url("/fonts/DroidSansMono-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/DroidSansMono-webfont.woff") format('woff'), url("/fonts/DroidSansMono-webfont.ttf") format('truetype'), url("/fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
a {
  outline: none;
  text-decoration: none;
}
a img {
  border: none;
}
a:link,
a:visited {
  outline: none;
  text-decoration: none;
  color: #fff;
  border: none;
}
body {
  background: fixed top left url("/img/BenderBG.jpg") no-repeat, #000;
  font-family: 'DroidSansMonoRegular', Verdana, sans-serif;
  color: #fff;
}
input[type="text"] {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.button {
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 0 #823a17, 0 8px 13.333333333333334px rgba(0,0,0,0.5);
  box-shadow: 0 4px 0 #823a17, 0 8px 13.333333333333334px rgba(0,0,0,0.5);
  -webkit-transition-property: all 0.2s ease-in-out 0s;
  -moz-transition-property: all 0.2s ease-in-out 0s;
  -o-transition-property: all 0.2s ease-in-out 0s;
  -ms-transition-property: all 0.2s ease-in-out 0s;
  transition-property: all 0.2s ease-in-out 0s;
  margin: 10px;
}
.button span {
  display: inline-block;
  padding: 6px 13.333333333333334px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(19,65,88,0.8);
  background: #bb5422;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fa8246), color-stop(1, #bb5422));
  background: -webkit-linear-gradient(top, #fa8246 0%, #bb5422 100%);
  background: -moz-linear-gradient(top, #fa8246 0%, #bb5422 100%);
  background: -o-linear-gradient(top, #fa8246 0%, #bb5422 100%);
  background: -ms-linear-gradient(top, #fa8246 0%, #bb5422 100%);
  background: linear-gradient(top, #fa8246 0%, #bb5422 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.1);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.1);
  -webkit-transition-property: all 0.2s ease-in-out 0s;
  -moz-transition-property: all 0.2s ease-in-out 0s;
  -o-transition-property: all 0.2s ease-in-out 0s;
  -ms-transition-property: all 0.2s ease-in-out 0s;
  transition-property: all 0.2s ease-in-out 0s;
}
.button:active {
  -webkit-box-shadow: 0 4px 0 #823a17, 0 6px 12px rgba(0,0,0,0.3);
  box-shadow: 0 4px 0 #823a17, 0 6px 12px rgba(0,0,0,0.3);
}
.button:active span {
  -webkit-transform: translate(0, 2.6666666666666665px);
  -moz-transform: translate(0, 2.6666666666666665px);
  -o-transform: translate(0, 2.6666666666666665px);
  -ms-transform: translate(0, 2.6666666666666665px);
  transform: translate(0, 2.6666666666666665px);
}
.button:focus {
  outline: #ff0 dotted thin;
}
.mainheader {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
.mainheader h1 {
  font: bold 26px 'DroidSansMonoRegular', Verdana, sans-serif;
  color: #717165;
  text-transform: uppercase;
}
.primarynav {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
.primarynav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.primarynav ul li {
  display: inline;
  margin-right: 5px;
}
.primarynav ul li:last-child {
  margin-right: 0px;
}
.mainsection {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin: 0 1.0416666666666665%;
  margin-left: 26.041666666666668%;
  min-height: 800px;
}
.mainfooter {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  text-align: right;
}
.messages {
  padding: 10px;
  border: solid #bb5422 2px;
  -webkit-box-shadow: inset 4px 4px 8px #bb5422;
  box-shadow: inset 4px 4px 8px #bb5422;
  background-color: #88f;
  color: #000;
}
.message {
  background-color: #fff;
  border-bottom: solid #000 1px;
  border-left: solid #000 1px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  *zoom: 1;
}
.message:first-child {
  border-top: solid #000 1px;
}
.message:before,
.message:after {
  content: "";
  display: table;
}
.message:after {
  clear: both;
}
.nickname {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-shadow: -1px 0 1px rgba(0,0,0,0.5);
  display: block;
}
.ts {
  font-size: 8px;
}
.messageHead,
.messageText {
  float: left;
}
.messageHead {
  padding: 8px;
  min-width: 80px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #77a6f7), color-stop(0.33333333333333326, #42679e), color-stop(1, #0b4a8a));
  background: -webkit-linear-gradient(left, #77a6f7 0%, #42679e 33.33333333333333%, #0b4a8a 100%);
  background: -moz-linear-gradient(left, #77a6f7 0%, #42679e 33.33333333333333%, #0b4a8a 100%);
  background: -o-linear-gradient(left, #77a6f7 0%, #42679e 33.33333333333333%, #0b4a8a 100%);
  background: -ms-linear-gradient(left, #77a6f7 0%, #42679e 33.33333333333333%, #0b4a8a 100%);
  background: linear-gradient(left, #77a6f7 0%, #42679e 33.33333333333333%, #0b4a8a 100%);
  border: solid 1px #0b4a8a;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: #fff;
}
.messageText {
  margin-left: 5px;
  line-height: 2;
}
@media screen and (max-width: 720px) {
  .mainsection {
    margin-left: 1.0416666666666665%;
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    margin-bottom: 1em;
  }
}
