<header>
  <h1 class='connectedUsers'>
    <!-- subview -->
  </h1>
</header>

<% if (connected === true) { %>
<table>
  <tr>
    <td>
      <input id="nick" style="width:80px" type="text" tabindex="5" />
    </td>
    <td style="width:100%">
      <input id="inVal" style="width:100%" type="text" tabindex="6" />
    </td>
  </tr>
</table>

<% } else { %>
  <p>
    Please wait while socket.io connects...
  </p>
<% } %>

<section class="messages">
  <!-- subview -->
</section>