vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

button
  border-radius 5px

.primarynav
  ul
    list-style-type none
    margin 0
    padding 0
    li
      display inline
      margin-right:5px;
    li:last-child
      margin-right:0px;