@import 'nib'
@import 'grid'
@import 'fonts'
@import 'layout'

body
  background black
  font-family 'DroidSansMonoRegular', Verdana, sans-serif

.mainsection
  background white
  column 12
  height:800px

#cr-stage
  width 100%  !important
  height inherit  !important