@import 'nib'
@import 'grid'
@import 'fonts'

//resets
global-reset()

body
  background black
  font-family 'DroidSansMonoRegular', Verdana, sans-serif
  color white

a
  outline none
  text-decoration none
  img
    border none
  &:link
  &:visited
    outline none
    text-decoration none
    color blue
    border none

//grid settings
total-width = 100%

.mainheader
  column 12
  border-radius left 7px
  background linear-gradient(left, rgba(255,255,255,.8) 50%, rgba(0,0,0,.8) 70%)
  color #717165
  h1
    font-size 26px
    font-weight bold
    text-transform uppercase

.primarynav
  column 12
  ul
    list-style-type none
    margin 0
    padding 0
    li
      display inline
      margin-right 5px
      a
        color #fff
    li:last-child
      margin-right 0px

.mainfooter
  column 12
  text-align right

//Login styles (Login.html template)
.login
  z-index 1000
  absolute top right
  clearfix()
  .button
    float right
    margin 4px 4px 0px 0px
    padding 4px
    font-size 22px
    font-weight bold
    border-radius 7px
    cursor pointer
    background linear-gradient(bottom, #CCC, #555)
    box-shadow inset 0px 2px 0px rgb(165,165,165), inset -2px 0px 0px #222
    transition all 0.1s linear
    &:active
      box-shadow none
      transform translate(2px,-2px)
    &:focus
      outline none
      box-shadow inset 0px 2px 0px rgb(165,165,165), inset -2px 0px 0px #222, 0px 0px 10px 4px #bbf
    span
      color white
      border-radius 7px

  .accountForm
    float right
    border-radius 7px
    background linear-gradient(left, rgba(255,255,255,.8) 50%, rgba(0,0,0,.8) 70%)
    display none
    td
      padding 7px
      text-align center
      vertical-align middle
    fieldset
      label
        display inline-block
        width 80px
    fieldset[name="email"]
      display none

  .usernameDisplay
    font bold 24px 'DroidSansMonoRegular', Verdana, sans-serif
    border-radius 7px
    padding 5px
    background silver
    &:before
      content 'Welcome '

  .message
    float right
    display none
    border-radius left 7px
    font-size 26px
    background linear-gradient(left, rgba(255,51,28,.8) 50%, rgba(0,0,0,.8) 70%)