@import 'nib'
@import 'grid'
@import 'fonts'

//resets
global-reset()
a
  outline none
  text-decoration none
  img
    border none
  &:link
  &:visited
    outline none
    text-decoration none
    color #fff
    border none

//grid settings
total-width = 100%

//helper function
orangePushButton(fontSize=18px, borderRad=7px, easeTime=0.2s)
  Ax = 0
  Ay = fontSize/3
  Ablur = 0
  Bx = 0
  By = fontSize/1.5
  Bblur = fontSize + fontSize/9
  BxActive = 0
  ByActive = fontSize/2
  BblurActive = fontSize
  TranslateActive = fontSize/4.5
  padtb = fontSize/2
  padlr = fontSize + fontSize/9

  display inline-block
  border-radius borderRad
  box-shadow Ax Ay Ablur #823a17, Bx By Bblur rgba(#000,0.5)
  transition-property all easeTime ease-in-out 0s

  span
    display inline-block
    padding padtb padlr
    font-family Verdana, sans-serif
    font-size fontSize
    text-transform uppercase
    line-height 1
    text-shadow 0 -1px 1px rgba(19, 65, 88, .8)
    background #BB5422
    background linear-gradient(top, #FA8246, #BB5422)
    border-radius borderRad
    box-shadow inset 0 -1px 1px rgba(#fff,.10)
    transition-property all easeTime ease-in-out 0s
    
  &:active
    box-shadow Ax Ay Ablur #823a17, BxActive ByActive BblurActive rgba(#000,0.3)
    span
      transform translate(0, TranslateActive)
  &:focus
    outline:yellow dotted thin;


//styles
body
  background fixed top left url('/img/BenderBG.jpg') no-repeat, black
  font-family 'DroidSansMonoRegular', Verdana, sans-serif
  color white

input[type="text"]
  border-radius 7px
  box-shadow 0 0 2px rgba(#000,.5)

.button
  orangePushButton 12px, 5px
  margin 10px

.mainheader
  column 12
  h1
    font bold 26px 'DroidSansMonoRegular', Verdana, sans-serif
    color #717165
    text-transform uppercase
    background linear-gradient(left, rgba(255,255,255,.8) 50%, rgba(0,0,0,.8) 70%)
    border-radius left 7px

.primarynav
  column 12
  ul
    float left
    list-style-type none
    margin 0
    padding 0
    li
      display inline
      margin-right 5px
    li:last-child
      margin-right 0px
  .login
    float right
  clearfix()

.mainsection
  column 9
  offset 3
  min-height:800px

.mainfooter
  column 12
  text-align right

.messages
  padding 10px
  border solid #BB5422 2px
  box-shadow inset 4px 4px 8px #BB5422
  background-color rgb(136,136,255)
  color black

.message
  background-color white
  border-bottom solid #000 1px
  border-left solid #000 1px
  border-radius left 7px
  &:first-child
    border-top solid #000 1px
  clearfix()

.nickname
  font-family Verdana, sans-serif
  font-weight bold
  text-shadow -1px 0 1px rgba(#000,.5)
  display block

.ts
  font-size 8px
  
.messageHead
.messageText
  float left

.messageHead
  padding 8px
  min-width 120px
  background #0B4A8A
    //IE6-9
  filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr=#77A6F7, endColorstr=#0B4A8A,GradientType=1 )')
  background linear-gradient(left, #77A6F7, #42679E, #0B4A8A)
  border solid 1px #0B4A8A
  border-radius left 7px
  color white

.messageText
  margin-left 5px
  line-height 2

.accountForm
  display none
  opacity 100
  transition-property all 0.3s linear 0s


@media screen and (max-width: 720px)
  .mainsection
    offset 0
    column 12
    margin-bottom 1em